body {
  background-color: #F08080;
}


header{
 background-color: #FA8072;
 height: 80px;
 font-size: 35pt;
 font-weight: bold;
}


#cont {
    padding: 15px;
  background-color: #E9967A;
  width: 60rem;
}


p {
  font-size: 20px;
  font-weight: bold;
}

footer{
    background-color: #FFA07A;
    height: 80px;
}